.content {
 padding: 36px 0 20px 0;
}

.photos li {
 width: 460px;
 height: 209px;
 float: left;
 margin: 0px 0 35px 18px;
 position: relative;
 overflow: hidden;
}

.photos li .photos_info {
 width: 420px;
 height: 169px;
 padding: 20px;
 position: absolute;
 left: 0;
 top: -209px;
 color: #fff;
 background: rgba(0, 0, 0, .5);
 cursor: pointer;
}

.photos li .photos_info h4 {
 line-height: 35px;
 border-bottom: 1px solid #ccc;
}

.photos li .photos_info p {
 text-indent: 20px;
 line-height: 22px;
 padding-top: 20px;
}